<div class="row justify-content-center mt-5">
  <div class="col-12 text-center">
    <h1>
        <i class="bi bi-github" style="font-size: 4rem;"></i> 
        Login
    </h1>
  </div>
  <div class="col-11 col-md-4">
    <form action="/auth/login" method="post">
      <input
        type="email"
        name="email"
        placeholder="Email"
        class="form-control mb-2"
        value="aracosta2810@gmail.com"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="form-control mb-2"
        value="123123"
      />
      <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>

</div>