<div class="row justify-content-center">
  <dir class="col-12 text-center">
    <h1><i class="bi bi-person-circle" style="font-size: 4rem;"></i>
      Sign in</h1>
  </dir>
  <div class="col-11 col-md-4">
    <form action="/auth/register" method="post">
      <input
        type="text"
        name="userName"
        placeholder="User"
        class="form-control mb-2"
        value="aracosta2810"
      />
      <input
        type="email"
        name="email"
        placeholder="Email"
        class="form-control mb-2"
        value="aracosta2810@gmail.com"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="form-control mb-2"
        value="123123"
      />
      <input
        type="password"
        name="repeatpassword"
        placeholder="Repeat password"
        class="form-control mb-2"
        value="123123"
      />
      <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>

</div>